<app-header></app-header>

<section class="middel ">
<h1>Contact Us</h1>
<p>If you have any questions, concerns, or would like to schedule an appointment, please feel free to contact us using the form below or the contact information provided.</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Our Contact Information</h2>
        <p><strong>Address:</strong> 123 Health St, Irbid City, 29230</p>
        <p><strong>Phone:</strong> (+962) 790730270</p>
        <p><strong>Email:</strong> JehadTaha2k&#64;Gmail.com</p>
        <h2>Our Location</h2>
        <!-- Embed Google Map -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53808.189083562684!2d35.84740965!3d32.55252984999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c76916dac0453%3A0x5416e113d81f7d82!2sIrbid!5e0!3m2!1sen!2sjo!4v1716568261421!5m2!1sen!2sjo" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>


</section>

<app-footer></app-footer>